= content_for :title, 'Home'
%main
  .container
    .row
      / blog-contents
      %section.col-md-8
        %article.blog-item
          .row
            .col-md-3
              %a{:href => "#"}
                %img.img-thumbnail.center-block{:alt => "Blog Post Thumbnail", :src => asset_path("corporate.jpg")}
            .col-md-9
              %p
                in
                %a{:href => "html5-templates.html"} html5
                ,
                %a{:href => "#"} templates
                %time
                  23-july-2015
                  %time
              %h1
                %a{:href => "#"} 50+ best free responsive corporate template in 2015
        / /.blog-item
        %article.blog-item
          .row
            .col-md-3
              %a{:href => "#"}
                %img.img-thumbnail.center-block{:alt => "Blog Post Thumbnail", :src => asset_path("event.jpg")}
            .col-md-9
              %p
                in
                %a{:href => "#"} html5
                ,
                %a{:href => "#"} templates
                %time
                  23-july-2015
                  %time
              %h1
                %a{:href => "#"} 50+ best free responsive event template in 2015
        / /.blog-item
        %article.blog-item
          .row
            .col-md-3
              %a{:href => "#"}
                %img.img-thumbnail.center-block{:alt => "Blog Post Thumbnail", :src => asset_path("restaurant.jpg")}
            .col-md-9
              %p
                in
                %a{:href => "html5-templates.html"} html5
                ,
                %a{:href => "#"} templates
                %time
                  23-july-2015
                  %time
              %h1
                %a{:href => "single_blog_page.html"} 50+ best free responsive restaurant template in 2015
        / /.blog-item
        %article.blog-item
          .row
            .col-md-3
              %a{:href => "#"}
                %img.img-thumbnail.center-block{:alt => "Blog Post Thumbnail", :src => asset_path("coming-soon.jpg")}
            .col-md-9
              %p
                in
                %a{:href => "html5-templates.html"} html5
                ,
                %a{:href => "#"} templates
                %time
                  23-july-2015
                  %time
              %h1
                %a{:href => "single_blog_page.html"} 50+ best free responsive coming soon template in 2015
        / /.blog-item
        %article.blog-item
          .row
            .col-md-3
              %a{:href => "#"}
                %img.img-thumbnail.center-block{:alt => "Blog Post Thumbnail", :src => asset_path("photography.jpg")}
            .col-md-9
              %p
                in
                %a{:href => "html5-templates.html"} html5
                ,
                %a{:href => "#"} templates
                %time
                  23-july-2015
                  %time
              %h1
                %a{:href => "single_blog_page.html"} 50+ best free responsive photography template in 2015
        / /.blog-item
        %article.blog-item
          .row
            .col-md-3
              %a{:href => "single_blog_page.html"}
                %img.img-thumbnail.center-block{:alt => "Blog Post Thumbnail", :src => asset_path("corporate.jpg")}
            .col-md-9
              %p
                in
                %a{:href => "html5-templates.html"} html5
                ,
                %a{:href => "#"} templates
                %time
                  23-july-2015
                  %time
              %h1
                %a{:href => "single_blog_page.html"} 50+ best free responsive corporate template in 2015
        / /.blog-item
        %article.blog-item
          .row
            .col-md-3
              %a{:href => "#"}
                %img.img-thumbnail.center-block{:alt => "Blog Post Thumbnail", :src => asset_path("event.jpg")}
            .col-md-9
              %p
                in
                %a{:href => "html5-templates.html"} html5
                ,
                %a{:href => "#"} templates
                %time
                  23-july-2015
                  %time
              %h1
                %a{:href => "single_blog_page.html"} 50+ best free responsive event template in 2015
        / /.blog-item
        %article.blog-item
          .row
            .col-md-3
              %a{:href => "#"}
                %img.img-thumbnail.center-block{:alt => "Blog Post Thumbnail", :src => asset_path("restaurant.jpg")}
            .col-md-9
              %p
                in
                %a{:href => "html5-templates.html"} html5
                ,
                %a{:href => "#"} templates
                %time
                  23-july-2015
                  %time
              %h1
                %a{:href => "single_blog_page.html"} 50+ best free responsive restaurant template in 2015
        / /.blog-item
        %article.blog-item
          .row
            .col-md-3
              %a{:href => "#"}
                %img.img-thumbnail.center-block{:alt => "Blog Post Thumbnail", :src => asset_path("coming-soon.jpg")}
            .col-md-9
              %p
                in
                %a{:href => "html5-templates.html"} html5
                ,
                %a{:href => "#"} templates
                %time
                  23-july-2015
                  %time
              %h1
                %a{:href => "single_blog_page.html"} 50+ best free responsive coming soon template in 2015
        / /.blog-item
        %article.blog-item
          .row
            .col-md-3
              %a{:href => "#"}
                %img.img-thumbnail.center-block{:alt => "Blog Post Thumbnail", :src => asset_path("photography.jpg")}
            .col-md-9
              %p
                in
                %a{:href => "html5-templates.html"} html5
                ,
                %a{:href => "#"} templates
                %time
                  23-july-2015
                  %time
              %h1
                %a{:href => "single_blog_page.html"} 50+ best free responsive photography template in 2015
        / /.blog-item
        .page-turn
          .row
            .col-md-6.col-md-offset-3.text-center
              %nav
                %ul.pagination.pagination-sm
                  %li.disabled
                    %a{"aria-label" => "Previous", :href => "#"}
                      %span{"aria-hidden" => "true"} Prev
                  %li.active
                    %a{:href => "index.html"} 1
                  %li
                    %a{:href => "page2.html"} 2
                  %li
                    %a{:href => "page3.html"} 3
                  %li
                    %a{:href => "page4.html"} 4
                  %li
                    %a{:href => "page5.html"} 5
                  %li
                    %a{"aria-label" => "Next", :href => "page6.html"}
                      %span{"aria-hidden" => "true"} Next
      / /.pagination
      / /.page-turn
      / end of blog-contents
      / sidebar
      %aside.col-md-4.col-sm-8.col-xs-8
        .sidebar
          / search option
          .search-widget
            .input-group.margin-bottom-sm
              %input.form-control{:placeholder => "Search here", :type => "text"}
                %a.input-group-addon{:href => "#"}
                  %i.fa.fa-search.fa-fw
          %a.template-images{:href => "http://themewagon.com/"}
            %img.img-responsive{:alt => "Template Store", :src => asset_path("store1.png")}
              .overlay
          / subscribe form
          .subscribe-widget
            %h4.text-capitalize.text-center
              get recent update by email
            .input-group.margin-bottom-sm
              %input.form-control{:placeholder => "Your Email", :type => "text"}
                %a.input-group-addon{:href => "#"}
                  %i.fa.fa-paper-plane.fa-fw
          / sidebar share button
          .share-widget.hidden-xs.hidden-sm
            %ul.social-share.text-center
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#"}
                  %i.fa.fa-google-plus
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#"}
                  %i.fa.fa-pinterest
              %li
                %a{:href => "#"}
                  %i.fa.fa-instagram