= content_for :title, 'Home'
%main
  / header begin
  %header.page-head
    .header-wrapper.text-center
      .container
        .row
          .col-md-8.col-md-offset-2
            %h1 Design Inspiration
  / /.container
  / /.header-wrapper
  / /.page-head (header end)
  %section.page-content
    .container
      .row
        %article.col-md-3.col-sm-4.col-xs-12
          .design-inspiration-item
            %a{:href => "single_design_inspiration.html"}
              %figure
                %img.img-responsive.center-block{:alt => "Logo Design", :src => "assets/img/design-inspiration1.jpg"}
              %figcaption
                %h3 logo design
        %article.col-md-3.col-sm-4.col-xs-12
          .design-inspiration-item
            %a{:href => "single_design_inspiration.html"}
              %figure
                %img.img-responsive.center-block{:alt => "Typography Design", :src => "assets/img/design-inspiration2.jpg"}
              %figcaption
                %h3 typography
        %article.col-md-3.col-sm-4.col-xs-12
          .design-inspiration-item
            %a{:href => "single_design_inspiration.html"}
              %figure
                %img.img-responsive.center-block{:alt => "Business Card Design", :src => "assets/img/design-inspiration3.jpg"}
              %figcaption
                %h3 business card design
        %article.col-md-3.col-sm-4.col-xs-12
          .design-inspiration-item
            %a{:href => "single_design_inspiration.html"}
              %figure
                %img.img-responsive.center-block{:alt => "Portfolio Page Design", :src => "assets/img/design-inspiration4.jpg"}
              %figcaption
                %h3 portfolio page design
        %article.col-md-3.col-sm-4.col-xs-12
          .design-inspiration-item
            %a{:href => "single_design_inspiration.html"}
              %figure
                %img.img-responsive.center-block{:alt => "Magazine Cover Design", :src => "assets/img/design-inspiration5.jpg"}
              %figcaption
                %h3 magazine cover design
        %article.col-md-3.col-sm-4.col-xs-12
          .design-inspiration-item
            %a{:href => "single_design_inspiration.html"}
              %figure
                %img.img-responsive.center-block{:alt => "Header Design", :src => "assets/img/design-inspiration6.jpg"}
              %figcaption
                %h3 header design
        %article.col-md-3.col-sm-4.col-xs-12
          .design-inspiration-item
            %a{:href => "single_design_inspiration.html"}
              %figure
                %img.img-responsive.center-block{:alt => "Geometry For Website Design", :src => "assets/img/design-inspiration7.jpg"}
              %figcaption
                %h3 geometry for website design
        %article.col-md-3.col-sm-4.col-xs-12
          .design-inspiration-item
            %a{:href => "single_design_inspiration.html"}
              %figure
                %img.img-responsive.center-block{:alt => "design inspiration item 1", :src => "assets/img/design-inspiration1.jpg"}
              %figcaption
                %h3 logo design
        %article.col-md-3.col-sm-4.col-xs-12
          .design-inspiration-item
            %a{:href => "single_design_inspiration.html"}
              %figure
                %img.img-responsive.center-block{:alt => "Typography Design", :src => "assets/img/design-inspiration2.jpg"}
              %figcaption
                %h3 typography
        %article.col-md-3.col-sm-4.col-xs-12
          .design-inspiration-item
            %a{:href => "single_design_inspiration.html"}
              %figure
                %img.img-responsive.center-block{:alt => "Business Card Design", :src => "assets/img/design-inspiration3.jpg"}
              %figcaption
                %h3 business card design
        %article.col-md-3.col-sm-4.col-xs-12
          .design-inspiration-item
            %a{:href => "single_design_inspiration.html"}
              %figure
                %img.img-responsive.center-block{:alt => "Portfolio Page Design", :src => "assets/img/design-inspiration4.jpg"}
              %figcaption
                %h3 portfolio page design
        %article.col-md-3.col-sm-4.col-xs-12
          .design-inspiration-item
            %a{:href => "single_design_inspiration.html"}
              %figure
                %img.img-responsive.center-block{:alt => "Magazine Cover Design", :src => "assets/img/design-inspiration5.jpg"}
              %figcaption
                %h3 magazine cover design
        %article.col-md-3.col-sm-4.col-xs-12
          .design-inspiration-item
            %a{:href => "single_design_inspiration.html"}
              %figure
                %img.img-responsive.center-block{:alt => "Header Design", :src => "assets/img/design-inspiration6.jpg"}
              %figcaption
                %h3 header design
        %article.col-md-3.col-sm-4.col-xs-12
          .design-inspiration-item
            %a{:href => "single_design_inspiration.html"}
              %figure
                %img.img-responsive.center-block{:alt => "Geometry For Website Design", :src => "assets/img/design-inspiration7.jpg"}
              %figcaption
                %h3 geometry for website design