%footer
  .container
    .row
      / copyright
      .col-md-4.col-sm-4
        copyright &copy; 2015
        %a{:href => "#", :style => "margin-left: 4px;"} 99Hits
      / footer share button
      .col-md-4.col-sm-4
        %ul.social-share.text-center
          %li
            %a{:href => "#"}
              %i.fa.fa-twitter
          %li
            %a{:href => "#"}
              %i.fa.fa-google-plus
          %li
            %a{:href => "#"}
              %i.fa.fa-facebook
          %li
            %a{:href => "#"}
              %i.fa.fa-pinterest
          %li
            %a{:href => "#"}
              %i.fa.fa-instagram
      / /.social-share
      / footer-nav
      .col-md-4.col-sm-4
        %ul.footer-nav
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Privacy
          %li
            %a{:href => home_contact_us_path} Contact